// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    output_dir = "$data_dir/output/preprocessing/"
    script_dir = '/scripts'

    hic_files = "$data_dir/input/*.hic"
    txt_matrix_files = "$data_dir/input/*GSE35519*_iced.txt.gz"

    grch38_assembly_name_short = 'GRCh38'
    grch38_assembly_name = "${grch38_assembly_name}.p14"
    grch38_assembly_name_long = "GCF_000001405.40_${grch38_assembly_name}"

    mgscv37_assembly_name_short = 'MGSCv37'
    mgscv37_assembly_name = "${mgscv37_assembly_name_short}"
    mgscv37_assembly_name_long = "GCA_000001635.1_${mgscv37_assembly_name_short}"

    grch38_bin_size = '1000'
    mgscv37_bin_size = '100000'

    grch38_assembly_report = "$data_dir/input/${grch38_assembly_name_short}_assembly_report.txt.gz"
    mgscv37_assembly_report = "$data_dir/input/${mgscv37_assembly_name_short}_assembly_report.txt.gz"
}

process {
    container = 'docker://ghcr.io/paulsengroup/2022-confined-polymer-paper-data-analysis/utils:1.0.0'
    withName:convert_hic_to_cool {
        container = 'docker://ghcr.io/paulsengroup/2022-confined-polymer-paper-data-analysis/hic9_to_cool:1.0.0'
   }
   withName:convert_geo_txt_to_cool {
        container = 'docker://ghcr.io/paulsengroup/2022-confined-polymer-paper-data-analysis/cooltools:0.5.1'
   }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    runOptions = "-B ${launchDir}/scripts:${params.script_dir}:ro"
}